        body{
            background-color: #F5F8FF;
        }
/* nav section style */
        nav{
            display: flex;
            justify-content: space-between;
            height: 71px;
            max-width: 1140px;
            margin:0 auto;
        }

        .logo img{
            height: 82px;
            width: 135px;
        }

        .anchor ul{
            height: 60px;
            width:26rem ;
            display: flex;
            justify-content: space-evenly;
            
        }

        .anchor li{
            list-style: none;
        }

        .anchor a{
            text-decoration: none;
            font-size: 16px;

        }

        #Home{
            height: 24px;
            width: 46px;
            font-weight: bold;
            color: #252432;
        }

        #Shop, #About{
            color: #8987A1;
        }

        #Cart{
            height: 24px;
            width: 113px;
            display: flex;
            gap: 5px;
        }

        #Cart a{
            color: black;
        }

 /* banner section style */

        .banner{
            height: 461px;
            width: 1140px;
            margin:100px auto;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .banner-text h3{
            font-weight: bold;
            font-size: 65px;
        }

        .banner-text h3 span{
            color: #E95A08;
        }

        .banner-text p{
            font-size: 22px;
            color: #000000;
            opacity: 50%;
        }

/* plants section */

        .plants{
            max-width: 1140px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .plants-text{
            text-align: center;
            padding-bottom: 20px;
        }

        .plants-text h3{
            font-size: 3.125rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .plants-text h3 span{
            color: #E95A08;
        }

        .plants-text p{
            color: #000000;
            opacity: 50%;
            font-size: 1.375rem;
            width: 56rem;
        }

        .plants-container{
            display: grid;
            grid-template-columns:repeat(4,1fr) ;
            gap: 20px;
        }


        .plant-item-text{
            text-align: center;
            font-size:1.375rem ;
        }

        .plant-item h4{
            font-weight: 450;
            margin-bottom: 0px;
            padding-bottom: 0;
        }

        .plant-item p{
            font-weight: bold;
            margin-top: 10px;
        }

        .plant-item button{
            border: none;
            background-color: #E95A08;
            color: #FFFFFF;
            width: 16.9rem;
            font-size: 1rem;
            padding: 10px;
        }
 
/* plant-lover section */

        .plover{
            max-width: 1140px;
            margin: 0 auto;
            margin-top: 150px;
            margin-bottom: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }

        .plover-txt h3{
            width:450px ;
            font-size:3.2rem ;
            font-weight:bold ;
            margin-bottom: 0;
        }

        .plover-txt ul{
            padding-right: 10px;
            color: #000000;
            opacity: 50%;
            font-size: 1.375rem;
        }

        .plover-txt li{
            padding-bottom: 40px;
        }

/* deals text section */

        .deal-txt{
            width: 1140px;
            margin: 0 auto;
            margin-bottom: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

         .deal-txt h3{
            font-size:3.125rem ;
            font-weight: bold;
            margin-bottom: 0;
         }

         .deal-txt h3 span{
            color: #E95A08;
         }

         .deal-txt p{
            color: #000000;
            opacity: 50%;
            font-size:1.375rem ;
            width: 888px;
         }

/* deals-img section */

         .deals-img{
            max-width: 1140px;
            margin: 0 auto;
            margin-bottom: 100px;
            display: grid;
            grid-template-columns: 367px 753px;
            gap: 21px;
            text-align: center;
            align-items: center;
         }

         .bloom-ana{
            display: flex;
            flex-direction: column;
            gap: 25px;
         }

         .bloom{
            background-image: url(Images/deal-bloom.png);
            height:201px ;
            border-radius: 14px;
            
         }

         .bloom p,a{
            display: flex;
            justify-content: center;
            align-items: center;
         }

         .bloom p, .ana p{
            padding-top: 50px;
         }

         .ana{
            background-image: url(Images/deal-ana.png);
            height: 201px;
            border-radius: 14px;
         }

         .zabo{
            background-image: url(Images/deal-zabo.png);
            width: 100%;
            height:423.12px ;
            border-radius: 24px;
         }

         .zabo p{
            padding-top: 120px;
            margin-bottom: 2px;
         }
         .shadow{
            height: 100%;
            overflow-y: hidden;
            border-radius: 14px;
            background-color: #000000;
            opacity: 40%;
         }

         .deals-img p{
            color: #FFFFFF;
            font-size:1.25rem ;
            font-weight: bold;
            opacity: 100%;
         }

         .deals-img a{
            color: #FFFFFF;
            font-size: 1rem;
            font-weight: 500;
         }

         .deals-img .zabo p{
            font-size: 3rem;
         }

         .zabo a{
            font-size: 2rem;
         }

         /* join-section */

         .join {
            background-image: url(Images/news-letter-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            max-width: 1440px;
            height: 533px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
         }

         .join h3{
            font-size: 3.125rem;
            color: #FFFFFF;
         }

         .input, input{
            background-color: #FFFFFF;
            border: none;
         }

         .input{
            width: 830px;
            height:50px ;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
         }

         #submit{
            background-color: #E95A08;
            height: 100%;
            width:186px;
            color: #FFFFFF;
            font-size: 20px;
         }

         #email{
            padding-left: 10px;
            font-size:20px ;
            width: 80%;
         }

         /* footer section */

         footer{
            max-width: 1440px;
            margin: 0 auto;
            padding: 50px;
            display: flex;
            justify-content: space-around;
         }

         .foot-txt{
            width: 359px;
         }

         .foot-logo{
            width: 135px;
            margin-bottom: 16px;
         }

         .foot-description{
            font-size: 1.375rem;
            color: #000000;
            opacity: 50%;
         }

         .link a{
            text-decoration: none;
            font-size:1rem ;
            color: #6B7280;
            line-height: 40px;
         }

         .foot-icon{
            display: flex;
            justify-content: space-between;
            height: 36px;
            width: 216px;
         }
 @media screen and (max-width: 576px) {
            /* navbar section */
            body{
                overflow-x: hidden;
            }

            nav{
                height: 38px;
                width: 361px;
                margin: 0 auto;
            }

            .logo img{
                height: 38px;
                width: auto;
            }

            #Cart{
                width: 40%;
            }

            .hide{
                display: none;
            }

           /* banner section */

          .banner{
            flex-direction: column-reverse;
            width: auto;
            margin: 20px auto;
          }  

          .banner-img img{
            width: 100%;
            margin-left: 8px;
          }

          .banner-text{
            margin:0 16px;
          }

          .banner-text h3{
            font-size: 24px;
          }

          .banner-text p{
            font-size: 14px;
          }

          /* plants section */
          .plants{
            width: auto;
          }

          .plants-container{
            grid-template-columns: repeat(2,1fr);
          }

          .plant-item{
            width:171px ;
          }

          .plant-item img{
            width: 100%;
          }

           .plants-text p{
            width: auto;
           }

           .plant-item button{
            width: 171px;
           }

           /* plants-lover section */

           .plover{
            flex-direction: column;
            margin-left: 1.5px;
            margin-bottom: 0;
           }

          .plover-img img{
            width: 100%;
        }
        
          .plover-txt{
            width: 100%;
        }
        /* deal-txt section */
  
        .bloom, .ana{
            width: 100%;
            
        }
        .deal-txt{
            max-width: 393px;
            text-align: center;
        }

        .deal-txt p{
            width: 100%;
        }

/* deals-img section */
        .deals-img{
            grid-template-columns: repeat(1,1fr);
        }

/* join section */

        .join{
            height: 350px;
            margin-left: 2px;
        }

        .join h3{
            text-align: center;
            font-size:25px ;
            margin-bottom: 23px;
        }

        .input{
            width: 85%;
        }

        .input input{
            font-size: 16px;
        }

/* footer section */

        footer{
            padding-left: 0;
            flex-direction: column;
        }

        .link{
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items:start;
            padding-top: 15px;
            padding-bottom: 15px;
        }

    }

